ADF/Pipelines/blob_to_brnz.json
{
    "name": "blob_to_brnz",
    "properties": {
        "activities": [
            {
                "name": "Lookup  Last File",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "select last_loaded_file from watermark_blob where id = 1;",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ds_sqlDB",
                        "type": "DatasetReference",
                        "parameters": {
                            "table_name": "watermark_blob"
                        }
                    }
                }
            },
            {
                "name": "Get All  Files",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "Lookup  Last File",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_blobFolder",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "Filter new files",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "Get All  Files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get All  Files').output.childItems",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@greater(item().name, activity('Lookup  Last File').output.firstRow.last_loaded_file)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "ForEach new file",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Filter new files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Filter new files').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Copy data1",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "ParquetWriteSettings"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "mappings": [
                                        {
                                            "source": {
                                                "name": "Product Id",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "ProductId",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Name",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "Name",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "ProductNumber",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "ProductNumber",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "MakeFlag",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "MakeFlag",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "FinishedGoodsFlag",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "FinishedGoodsFlag",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Color",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "Color",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "SafetyStockLevel",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "SafetyStockLevel",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "ReorderPoint",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "ReorderPoint",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "StandardCost",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "StandardCost",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "ListPrice",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "ListPrice",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Size",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "Size",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "SizeUnitMeasureCode",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "SizeUnitMeasureCode",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "WeightUnitMeasureCode",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "WeightUnitMeasureCode",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Weight",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "Weight",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "DaysToManufacture",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "DaysToManufacture",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "ProductLine",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "ProductLine",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Class",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "Class",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Style",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "Style",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "ProductSubcategoryID",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "ProductSubcategoryID",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "ProductModelID",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "ProductModelID",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "SellStartDate",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "SellStartDate",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "SellEndDate",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "SellEndDate",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "DiscontinuedDate",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "DiscontinuedDate",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "rowguid",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "rowguid",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Batch",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "Batch",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            }
                                        }
                                    ],
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_blob",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "FileName": {
                                            "value": "@item().name",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_bronze",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "folder_name": "products",
                                        "file_name": {
                                            "value": "@replace(item().name, '.csv', '.parquet')",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "Stored procedure",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "ForEach new file",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[UpdateBlobWatermark]",
                    "storedProcedureParameters": {
                        "LastFile": {
                            "value": "",
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_sqlDB",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2026-06-29T15:53:58Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}